.Input {
  width: 100%;
  margin: 16px 0px;
  box-sizing: border-box;
  text-align: left;
}

.Row {
  width: 50%;
  display: inline-block;
  margin: 0;
}

.Label {
  font-size: 12px;
  color: #888;
  display: block;
}

.InputElement {
  -webkit-appearance: none;
  outline: none;
  border: inherit;
  background-color: transparent;
  padding: 4px 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border-bottom: 1px solid #bbb;
  border-radius: inherit;
}

.InputElement::placeholder {
  color: #ccc;
  font-weight: 300;
}

.InputElement:focus {
  outline: none;
  border-bottom: 1px solid rgb(128, 48, 48);
}

.Invalid::placeholder{
  color: #ff8c8caa;
}

.InvalidMessage {
  color: #ff8c8c;
  margin-left: 4px;
}

@media (max-width: 549px) {
  .InputElement {
    font-size: 14px;
  }
}
