.CheckoutSummary {
  text-align: center;
  margin: auto;
}

.CheckoutSummary h2 {
  margin: 16px 8px 8px 8px;
  font-weight: 300;
}

@media (min-width: 550px) {
  .CheckoutSummary h2 {
    margin: 32px 8px 8px 8px;
  }
}